<section class="clients" id="client">
    <div>
      <ul class="carousel">
        <li><img src='{{ "DIOR.png" | asset_url }}' alt="DIOR" /></li>
        <li><img src='{{ "CHANNEL.png" | asset_url }}' alt="CHANNEL" /></li>
        <li><img src='{{ "DOLCHE.png" | asset_url }}' alt="DOLCHE" /></li>
        <li><img src='{{ "ESCADA.png" | asset_url }}' alt="ESCADA" /></li>
        <li><img src='{{ "Juliet.png" | asset_url }}' alt="Juliet" /></li>
        <li><img src='{{ "Hugo.png" | asset_url }}' alt="Hugo" /></li>
        <li><img src='{{ "Vers.png" | asset_url }}' alt="Vers" /></li>
        <!-- Duplicate items for seamless animation -->
        <li><img src='{{ "DIOR.png" | asset_url }}' alt="DIOR" /></li>
        <li><img src='{{ "CHANNEL.png" | asset_url }}' alt="CHANNEL" /></li>
        <li><img src='{{ "DOLCHE.png" | asset_url }}' alt="DOLCHE" /></li>
        <li><img src='{{ "ESCADA.png" | asset_url }}' alt="ESCADA" /></li>
        <li><img src='{{ "Juliet.png" | asset_url }}' alt="Juliet" /></li>
        <li><img src='{{ "Hugo.png" | asset_url }}' alt="Hugo" /></li>
        <li><img src='{{ "Vers.png" | asset_url }}' alt="Vers" /></li>
      </ul>
    </div>
  </section>
  
  <style>
  /* Clients */
  .clients {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    overflow: hidden; /* Hide overflow for seamless animation */
    position: relative;
  }
  
  .clients .carousel {
    display: flex;
    align-items: center;
    gap: 80px;
    animation: moveCarousel 20s linear infinite;
    list-style: none;
  }
  
  .clients li img {
    width: 100px;
    margin: 2px;
    filter: grayscale(100%);
    transition: transform 0.3s ease;
  }
  
  .clients li img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
  }
  
  @media screen and (max-width: 1000px) {
    .clients li img {
      width: 80px;
    }
  }
  
  /* Animation for the carousel */
  @keyframes moveCarousel {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  </style>
  

 {% schema %}
{
  "name": "banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image 1"
    },
    {
      "type": "text",
      "id": "subtitle1",
      "label": "Subtitle 1",
      "default": "NEW COLLECTION"
    },
    {
      "type": "text",
      "id": "title1",
      "label": "Title 1",
      "default": "Discover New Sneaker Collection"
    },
    {
      "type": "text",
      "id": "btn_label1",
      "label": "Button Label",
      "default":"Explore More"
    },
    {
      "type": "url",
      "id": "button_url1",
      "label": "Button URL 1",
      "default": "/collections/all"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image 2"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Title 2",
      "default": "25% off Everything"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "Description",
      "default": "Sneakers in a range of styles and colors for every taste"
    },
    {
      "type": "text",
      "id": "btn_label2",
      "label": "Button Label 2",
      "default":"Shop Now"
    },
    {
      "type": "url",
      "id": "button_url2",
      "label": "Button URL 2",
      "default": "/collections/all"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "banner"
    }
  ]
}
{% endschema %}