   <!-- 
        - #ABOUT
      -->

      <section class="section about" id="about" aria-label="about" data-aos="fade-up">
        <div class="container"> 

          <h2 class="section-title">{{ section.settings.title}}</h2>

          <p class="section-text">
            {{ section.settings.info}}
          </p>
        </div>
          <div class="about-card">
            <figure class="card-banner img-holder" style="--width: 1380; --height: 550;">
            {% comment %}<div style="width: 100%; height:100%; background-image: url('{{ 'F5.jpg' | asset_url }}'); background-size: cover; background-position: center; background-attachment: fixed;" role="img" aria-label="Woodex promo"></div>{% endcomment %}
              <video id="promoVideo" width="1170" height="550" class="img-cover" autoplay loop muted playsinline>
                <source src="{{ 'Ink.mp4' | asset_url }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            
              {% comment %} <img src="{{'F5.jpg' | asset_url}}" width="1170" height="450" loading="lazy" alt="Woodex promo"
                class="img-cover"> {% endcomment %}
            </figure>

            {% comment %} <button class="play-btn" aria-label="play video">
              <p class="scents">Scents that Speak, Luxury You Can Wear.</p>
            </button>  {% endcomment %}
                <div class="box">
                    <span>s</span>
                    <span>c</span>
                    <span>e</span>
                    <span>n</span>
                    <span>t</span>
                    <span>&nbsp;t</span>
                    <span>h</span>
                    <span>a</span>
                    <span>t</span>
                    <span>&nbsp;y</span>
                    <span>o</span>
                    <span>u</span>
                    <span>&nbsp;w</span>
                    <span>e</span>
                    <span>a</span>
                    <span>r</span>
              </div>
          </div>

        {% comment %} </div> {% endcomment %}
      </section>

 <style>

  .collection {padding-block-start: 0; margin-top:5%;}
  

  
  .collection-list{
   display: grid;
   gap: 15px;
  }
  
  .collection-card{
    background-color: var(--light-gray);
    min-height: 400px;
    padding:40px;
    padding-block-end: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .collection-card .card-title{
    margin-block-end: 12px;
  }
  
  .collection-card .card-text{
    color:var(--black);
    font-size: var(--fs-6);
    font-weight: var(--fs-600);
    margin-block-end: auto;
  }

  .scents{
    font-size: large;
    font-family:var(--ff-roboto) ;
  }
      /*
  responsive for larger than 575px screen
  */

  .box {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.box span {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 0px 5px rgba(31, 29, 46, 0.55);
  font-size: 6rem;
  text-transform: uppercase;
  color: rgb(212, 212, 212);
  display: inline-block;
}

  @media screen and (min-width: 575px) {
    
    .scents{
    font-size: medium;
  }
    }
    
    
    /*
    responsive for larger than 768px screen
    */
    @media screen and (min-width: 768px) {
       
      .flex-item{max-width: calc(50% - 15px);}

      
      
      
      /*
      COLLECTION
      */
      .collection-card{ min-height:450px;}
      
      }

      .scents{
        font-size: large;
      }
    
    
    /*
    responsive for larger than 992px screen
    */
    @media screen and (min-width: 992px) {
    
      .scrollbar-item {min-width: calc(33.33% - 20px);}
    
      .flex-item {max-width: calc(33.33% - 20px);}
    
    
         /*
     COLLECTION
      */
    
      .collection-list{
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
      }

      .scents{
        font-size: large;
      }
    
    }
    
    /*
    responsive for larger than 1200px screen
    */
    @media screen and (min-width: 1200px) {

     .scrollbar-item {min-width: calc(20% - 24px);}
    
     .flex-item {max-width: calc(33.33% - 20px);}
     
     .scents{
       font-size:large;
    }
     
    }
 </style>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const video = document.getElementById("promoVideo");
    
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                video.currentTime = 1; // Restart video
                video.play(); // Play video
            } else {
                video.pause(); // Pause video when out of view
            }
        });
    }, { threshold: 0.5 }); // Trigger when at least 50% is visible

    observer.observe(video);
});


let obj = {};
let start = -300;
let end = 300;
let steps = 10;
let stepSize = (end - start) / (steps - 1);

for (let i = 1; i <= 9; i++) {
    obj[".box span:nth-child(" + i + ")"] = {
        triggerStart: (i - 1) * 5,
        triggerEnd: (i - 20) * 5,
        sync: 0.5,
        triggerStartElement: "body",
        triggerEndElement: "body",
        keyframes: {
            transform: {
                translateX: {
                    100: start + stepSize * i + "%"
                },
                scale: {
                    100: 3
                }
            },
            filter: {
                blur: {
                    100: "10px"
                }
            },
            opacity: {
                100: 0
            }
        }
    };
}

ScrollMoo(obj);

 </script>

 {% schema %}
{
  "name": "Collection-Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image 1"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Unveil Your Essence"
    },
    {
      "type": "text",
      "id": "info",
      "label": "Info",
      "default": "When you start with a portrait and search for a pure form, a clear volume, through successive eliminations, you arrive inevitably at the egg. Likewise, starting with the egg and following the same process in reverse, one finishes with the portrait."
    },
    {
      "type": "url",
      "id": "link1",
      "label": "Button Url"
    },
    {
      "type":"text",
      "id":"btn_label1",
      "label":"Button Label 1",
      "default":"Shop Now"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image 2"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Title 2",
      "default": "What's New?"
    },
    {
      "type": "text",
      "id": "subtitle2",
      "label": "Subtitle 2",
      "default": "Get the newest kicks"
    },
    {
      "type": "url",
      "id": "link2",
      "label": "Button Url"
    },
    {
      "type":"text",
      "id":"btn_label2",
      "label":"Button Label 2",
      "default":"Discover Now"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Image 3"
    },
    {
      "type": "text",
      "id": "title3",
      "label": "Title 3",
      "default": "Buy 1 Get 1"
    },
    {
      "type": "text",
      "id": "subtitle3",
      "label": "Subtitle 3",
      "default": "Starting at $17.99"
    },
    {
      "type": "url",
      "id": "link3",
      "label": "Button Url"
    },
    {
      "type":"text",
      "id":"btn_label3",
      "label":"Button Label 3",
      "default":"Shop Now"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Collection-Banner"
    }
  ]
}
{% endschema %}