 {% comment %} {% if section.blocks.size == 0 %}
        
        <section class="section shop" id="shop" aria-label="shop">
            <div class="container">
                <div class="title-wrapper">
                    <h2 class="h2 section-title">{{ collections['Gucci'].title }}</h2>
                    <a href="{{ collections['nike'].url }}" class="btn-link">
                        <span class="span">Shop All Products</span>
                        <ion-icon class="arrow-forward" aria-hidden="true"></ion-icon>
                    </a>
                </div>
            
                <ul class="has-scrollbar">
                    {% assign nike_collection = collections['Gucci'] %}
                    {% if nike_collection != blank %}
                        {% for product in nike_collection.products %}
                            <li class="scrollbar-item"> {% endcomment %}
                                {% comment %} <div class="shop-card">
                                    <div class="card-banner img-holder" >
                                        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" class="img-cover" width="540" height="720" loading="lazy">
                                        <span class="badge" aria-label="20% off">-20%</span>
                                        <div class="card-actions">
                                        <form   action="/cart/add" method="post" enctype="multipart/form-data" onsubmit="submitAddToCartForm(this); return false;">
                                            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                                            <button type="submit" class="action-btn" aria-label="add to cart">
                                            <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </form>
                                        
                                        



                
                                            <button class="action-btn" aria-label="add to wishlist">
                                                <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                                            </button>
                
                                            <button class="action-btn" aria-label="compare">
                                                <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <h3>
                                            <a href="{{ product.url }}" class="card-title">{{ product.title }}</a>
                                        </h3>
                                        <div class="price">
                                            <del class="del">{{ product.compare_at_price | money }}</del>
                                            <span class="span">{{ product.price | money }}</span>
                                        </div>
                                        {% unless product.available %}<br><strong>Sold Out</strong>{% endunless %}
                                        <div class="card-rating">
                                            <div class="rating-wrapper" aria-label="5 star rating">
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            </div>
                                            <p class="rating-text">5170 reviews</p>
                                        </div>
                                    </div>
                                </div> {% endcomment %}

                              
                              {% comment %} <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" class="img-cover" width="300" height="300"loading="lazy">
                              <ul class="card-action-list">
              
                                <li>
                                  <button class="card-action-btn" aria-label="add to cart" title="add to cart">
                                    <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
                                  </button>
                                </li>
              
                                <li>
                                  <button class="card-action-btn" aria-label="add to cart" title="add to cart">
                                    <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                  </button>
                                </li>
              
                                <li>
                                  <button class="card-action-btn" aria-label="add to whishlist" title="add to whishlist">
                                    <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
                                  </button>
                                </li>
              
                              </ul>
                              
                              <ul class="badge-list">
              
                                <li>
                                  <div class="badge orange">Sale</div>
                                </li>
              
                                <li>
                                  <div class="badge cyan">-10%</div>
                                </li>
              
                              </ul>
                            </a>
              
                            <div class="card-content">
                              <h3 class="h3">
                                <a href="#" class="card-title">Animi Dolor Pariatur</a>
                              </h3>
              
                              <div class="card-price">
                                <del class="del">$19.00</del>
              
                                <data class="price" value="10">$10.00</data>
                              </div>
                            </div>
              
                          </div>
                        </li>
                    {% endfor %} {% endcomment %} 
                  
                    
              
                     {% comment %} {% assign collection_handle = 'all' %}
                    {% for product in collections[collection_handle].products %}
                       <li class="decoration">
                         <div class="product-card">
                           <a href="{{ product.url }}" class="card-banner img-holder has-before" style="--width: 300; --height: 300;">
                             {% if product.featured_image %}
                               <img src="{{ product.featured_image | img_url: 'large' }}" 
                                 alt="{{ product.featured_image.alt | escape }}" 
                                 class="img-cover" 
                                 width="300" 
                                 height="300" 
                                 loading="lazy">
                             {% else %}
                              <img src="default-image.jpg" 
                                 alt="No image available" 
                                 class="img-cover" 
                                  width="300" 
                                  height="300" 
                                  loading="lazy">
                             {% endif %}
                          <ul class="card-action-list">
                           <li>
                            <button class="card-action-btn" aria-label="add to cart" title="add to cart">
                              <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
                            </button>
                          </li>
                          <li>
                            <form action="/cart/add" method="post" enctype="multipart/form-data" onsubmit="submitAddToCartForm(this); return false;">
                              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                              <button type="submit" class="card-action-btn" aria-label="add to cart">
                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                              </button>
                            </form> {% endcomment %}
                          {% comment %} <button class="card-action-btn" aria-label="view cart" title="view cart">
                          <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                      </button> {% endcomment %}
                    {% comment %} </li>
                    <li>
                      <button class="card-action-btn" aria-label="add to wishlist" title="add to wishlist">
                        <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
                      </button>
                    </li>
                  </ul> {% endcomment %}
                  {% comment %} {% if product.compare_at_price > product.price %} {% endcomment %}
                  {% comment %} <ul class="badge-list">
                    <li>
                      <div class="badge orange">Sale</div>
                    </li>
                    <li>
                      <div class="badge cyan">
                        10%
                      </div>
                    </li>
                  </ul> {% endcomment %}
              
                  {% comment %} <ul class="badge-list">
                {% if product.available %}
                  {% if product.compare_at_price > product.price %}
                    <li>
                      <div class="badge orange">Sale</div>
                    </li>
                  {% endif %}
                  {% assign discount = 100 | times: product.compare_at_price | minus: product.price | divided_by: product.compare_at_price | round %}
                  {% if discount > 0 %}
                    <li>
                      <div class="badge cyan">{{ discount }}%</div>
                    </li>
                  {% endif %}
                {% else %}
                  <li>
                    <div class="badge1 gray">Out of Stock</div>
                  </li>
                {% endif %}
              </ul> {% endcomment %}
              
                  {% comment %} {% endif %} {% endcomment %}
                {% comment %} </a>
                     <div class="card-content">
                        <h3 class="h3">
                          <a href="{{ product.url }}" class="card-title">{{ product.title }}</a>
                        </h3>
                         <div class="card-price">
                          {% if product.compare_at_price > product.price %}
                            <del class="del">{{ product.compare_at_price | money }}</del>
                         {% endif %}
                            <data class="price" value="{{ product.price }}">{{ product.price | money }}</data>
                          </div>
                         </div>
                        </div>
                       </li>
                     {% endfor %}
              
                             

                              
                            </li>
                        {% endfor %}
                    {% else %}
                        <p>No matches found</p>
                    {% endif %}
                </ul>
            </div>
        </section>  {% endcomment %} 

        {% comment %} <section class="section shop" id="shop" aria-label="shop">
            <div class="container">
                <div class="title-wrapper">
                    <h2 class="h2 section-title">{{ collections['adidas'].title }}</h2>
                    <a href="{{ collections['adidas'].url }}" class="btn-link">
                        <span class="span">Shop All Products</span>
                        <ion-icon class="arrow-forward" aria-hidden="true"></ion-icon>
                    </a>
                </div>
            
                <ul class="has-scrollbar">
                    {% assign nike_collection = collections['adidas'] %}
                    {% if nike_collection != blank %}
                        {% for product in nike_collection.products %}
                            <li class="scrollbar-item">
                                <div class="shop-card">
                                    <div class="card-banner img-holder" >
                                        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" class="img-cover" width="540" height="720" loading="lazy">
                                        <span class="badge" aria-label="20% off">-20%</span>
                                        <div class="card-actions">
                                        <form   action="/cart/add" method="post" enctype="multipart/form-data" onsubmit="submitAddToCartForm(this); return false;">
                                            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                                            <button type="submit" class="action-btn" aria-label="add to cart">
                                            <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </form>
                                        
                                        



                
                                            <button class="action-btn" aria-label="add to wishlist">
                                                <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                                            </button>
                
                                            <button class="action-btn" aria-label="compare">
                                                <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <h3>
                                            <a href="{{ product.url }}" class="card-title">{{ product.title }}</a>
                                        </h3>
                                        <div class="price">
                                            <del class="del">{{ product.compare_at_price | money }}</del>
                                            <span class="span">{{ product.price | money }}</span>
                                        </div>
                                        {% unless product.available %}<br><strong>Sold Out</strong>{% endunless %}
                                        <div class="card-rating">
                                            <div class="rating-wrapper" aria-label="5 star rating">
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            </div>
                                            <p class="rating-text">5170 reviews</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        <p>No matches found</p>
                    {% endif %}
                </ul>
            </div>
        </section>

        <section class="section shop" id="shop" aria-label="shop">
        <div class="container">
            <div class="title-wrapper">
                <h2 class="h2 section-title">{{ collections['asics'].title }}</h2>
                <a href="{{ collections['asics'].url }}" class="btn-link">
                    <span class="span">Shop All Products</span>
                    <ion-icon class="arrow-forward" aria-hidden="true"></ion-icon>
                </a>
            </div>
        
            <ul class="has-scrollbar">
                {% assign nike_collection = collections['asics'] %}
                {% if nike_collection != blank %}
                    {% for product in nike_collection.products %}
                        <li class="scrollbar-item">
                            <div class="shop-card">
                                <div class="card-banner img-holder" >
                                    <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" class="img-cover" width="540" height="720" loading="lazy">
                                    <span class="badge" aria-label="20% off">-20%</span>
                                    <div class="card-actions">
                                        <form   action="/cart/add" method="post" enctype="multipart/form-data" onsubmit="submitAddToCartForm(this); return false;">
                                            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                                            <button type="submit" class="action-btn" aria-label="add to cart">
                                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </form>
                                        
                                    



            
                                        <button class="action-btn" aria-label="add to wishlist">
                                            <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                                        </button>
            
                                        <button class="action-btn" aria-label="compare">
                                            <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h3>
                                        <a href="{{ product.url }}" class="card-title">{{ product.title }}</a>
                                    </h3>
                                    <div class="price">
                                        <del class="del">{{ product.compare_at_price | money }}</del>
                                        <span class="span">{{ product.price | money }}</span>
                                    </div>
                                    {% unless product.available %}<br><strong>Sold Out</strong>{% endunless %}
                                    <div class="card-rating">
                                        <div class="rating-wrapper" aria-label="5 star rating">
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                        </div>
                                        <p class="rating-text">5170 reviews</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <p>No matches found</p>
                {% endif %}
            </ul>
        </div>
        </section>


        <section class="section shop" id="shop" aria-label="shop">
        <div class="container">
            <div class="title-wrapper">
                <h2 class="h2 section-title">{{ collections['vans'].title }}</h2>
                <a href="{{ collections['vans'].url }}" class="btn-link">
                    <span class="span">Shop All Products</span>
                    <ion-icon class="arrow-forward" aria-hidden="true"></ion-icon>
                </a>
            </div>
        
            <ul class="has-scrollbar">
                {% assign nike_collection = collections['vans'] %}
                {% if nike_collection != blank %}
                    {% for product in nike_collection.products %}
                        <li class="scrollbar-item">
                            <div class="shop-card">
                                <div class="card-banner img-holder" >
                                    <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" class="img-cover" width="540" height="720" loading="lazy">
                                    <span class="badge" aria-label="20% off">-20%</span>
                                    <div class="card-actions">
                                        <form   action="/cart/add" method="post" enctype="multipart/form-data" onsubmit="submitAddToCartForm(this); return false;">
                                            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                                            <button type="submit" class="action-btn" aria-label="add to cart">
                                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </form>
                                        
                                    



            
                                        <button class="action-btn" aria-label="add to wishlist">
                                            <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                                        </button>
            
                                        <button class="action-btn" aria-label="compare">
                                            <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h3>
                                        <a href="{{ product.url }}" class="card-title">{{ product.title }}</a>
                                    </h3>
                                    <div class="price">
                                        <del class="del">{{ product.compare_at_price | money }}</del>
                                        <span class="span">{{ product.price | money }}</span>
                                    </div>
                                    {% unless product.available %}<br><strong>Sold Out</strong>{% endunless %}
                                    <div class="card-rating">
                                        <div class="rating-wrapper" aria-label="5 star rating">
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                        </div>
                                        <p class="rating-text">5170 reviews</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <p>No matches found</p>
                {% endif %}
            </ul>
        </div>
        </section> {% endcomment %}


        {% comment %} <section class="section shop" id="shop" aria-label="shop">
            <div class="container">
                <div class="title-wrapper">
                    <h2 class="h2 section-title">{{ collections['puma'].title }}</h2>
                    <a href="{{ collections['puma'].url }}" class="btn-link">
                        <span class="span">Shop All Products</span>
                        <ion-icon class="arrow-forward" aria-hidden="true"></ion-icon>
                    </a>
                </div>
            
                <ul class="has-scrollbar">
                    {% assign nike_collection = collections['puma'] %}
                    {% if nike_collection != blank %}
                        {% for product in nike_collection.products %}
                            <li class="scrollbar-item">
                                <div class="shop-card">
                                    <div class="card-banner img-holder" >
                                        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" class="img-cover" width="540" height="720" loading="lazy">
                                        <span class="badge" aria-label="20% off">-20%</span>
                                        <div class="card-actions">
                                            <form   action="/cart/add" method="post" enctype="multipart/form-data" onsubmit="submitAddToCartForm(this); return false;">
                                                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                                                <button type="submit" class="action-btn" aria-label="add to cart">
                                                    <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                                </button>
                                            </form>
                                            
                                        



                
                                            <button class="action-btn" aria-label="add to wishlist">
                                                <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                                            </button>
                
                                            <button class="action-btn" aria-label="compare">
                                                <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <h3>
                                            <a href="{{ product.url }}" class="card-title">{{ product.title }}</a>
                                        </h3>
                                        <div class="price">
                                            <del class="del">{{ product.compare_at_price | money }}</del>
                                            <span class="span">{{ product.price | money }}</span>
                                        </div>
                                        {% unless product.available %}<br><strong>Sold Out</strong>{% endunless %}
                                        <div class="card-rating">
                                            <div class="rating-wrapper" aria-label="5 star rating">
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            </div>
                                            <p class="rating-text">5170 reviews</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        <p>No matches found</p>
                    {% endif %}
                </ul>
            </div>
        </section> {% endcomment %}


        {% comment %} <section class="section shop" id="shop" aria-label="shop">
            <div class="container">
                <div class="title-wrapper">
                    <h2 class="h2 section-title">{{ collections['converse'].title }}</h2>
                    <a href="{{ collections['converse'].url }}" class="btn-link">
                        <span class="span">Shop All Products</span>
                        <ion-icon class="arrow-forward" aria-hidden="true"></ion-icon>
                    </a>
                </div>
            
                <ul class="has-scrollbar">
                    {% assign nike_collection = collections['converse'] %}
                    {% if nike_collection != blank %}
                        {% for product in nike_collection.products %}
                            <li class="scrollbar-item">
                                <div class="shop-card">
                                    <div class="card-banner img-holder" >
                                        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" class="img-cover" width="540" height="720" loading="lazy">
                                        <span class="badge" aria-label="20% off">-20%</span>
                                        <div class="card-actions">
                                            <form   action="/cart/add" method="post" enctype="multipart/form-data" onsubmit="submitAddToCartForm(this); return false;">
                                                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                                                <button type="submit" class="action-btn" aria-label="add to cart">
                                                    <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                                </button>
                                            </form>
                                            
                                        



                
                                            <button class="action-btn" aria-label="add to wishlist">
                                                <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                                            </button>
                
                                            <button class="action-btn" aria-label="compare">
                                                <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <h3>
                                            <a href="{{ product.url }}" class="card-title">{{ product.title }}</a>
                                        </h3>
                                        <div class="price">
                                            <del class="del">{{ product.compare_at_price | money }}</del>
                                            <span class="span">{{ product.price | money }}</span>
                                        </div>
                                        {% unless product.available %}<br><strong>Sold Out</strong>{% endunless %}
                                        <div class="card-rating">
                                            <div class="rating-wrapper" aria-label="5 star rating">
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            </div>
                                            <p class="rating-text">5170 reviews</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        <p>No matches found</p>
                    {% endif %}
                </ul>
            </div>
        </section> {% endcomment %}
  {% comment %} {% else %}
        {% for block in section.blocks %}
            <section class="section shop" id="shop" aria-label="shop">
                <div class="container">
                    <div class="title-wrapper">
                        <h2 class="h2 section-title">{{ collections[block.settings.specific_collection].title }}</h2>
                        <a href="{{ collections[block.settings.specific_collection].url }}" class="btn-link">
                            <span class="span">Shop All Products</span>
                            <ion-icon class="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>
                    </div>
                
                    <ul class="has-scrollbar">
                        {% assign nike_collection = collections[block.settings.specific_collection] %}
                        {% if nike_collection != blank %}
                            {% for product in nike_collection.products %}
                                <li class="scrollbar-item">
                                    <div class="shop-card">
                                        <div class="card-banner img-holder" >
                                            <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" class="img-cover" width="540" height="720" loading="lazy">
                                            <span class="badge" aria-label="20% off">-20%</span>
                                            <div class="card-actions">
                                                <form   action="/cart/add" method="post" enctype="multipart/form-data" onsubmit="submitAddToCartForm(this); return false;">
                                                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                                                    <button type="submit" class="action-btn" aria-label="add to cart">
                                                        <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                                    </button>
                                                </form>
                                                
                                            
        
        
        
                    
                                                <button class="action-btn" aria-label="add to wishlist">
                                                    <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                                                </button>
                    
                                                <button class="action-btn" aria-label="compare">
                                                    <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <h3>
                                                <a href="{{ product.url }}" class="card-title">{{ product.title }}</a>
                                            </h3>
                                            <div class="price">
                                                <del class="del">{{ product.compare_at_price | money }}</del>
                                                <span class="span">{{ product.price | money }}</span>
                                            </div>
                                            {% unless product.available %}<br><strong>Sold Out</strong>{% endunless %}
                                            <div class="card-rating">
                                                <div class="rating-wrapper" aria-label="5 star rating">
                                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                                </div>
                                                <p class="rating-text">5170 reviews</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}
                            <p>No matches found</p>
                        {% endif %}
                    </ul>
                </div>
                </section>
        {%  endfor %}   
   {% endif %}  {% endcomment %}







   <section class="section product" id="product" aria-label="product">
    <div class="container">

      <div class="title-wrapper">
        <h2 class="h2 section-title">Popular Fragrances</h2>

        <ul class="filter-btn-list">

          <li class="filter-btn-item">
            <button class="filter-btn" data-filter-btn="all">Men</button>
          </li>

          <li class="filter-btn-item">
            <button class="filter-btn" data-filter-btn="accessory">Women</button>
          </li>

        </ul>
      </div>

      <ul class="grid-list product-list" data-filter="all">
        {% comment %} {% for product in collection.products %}
          <li class="decoration">
            <div class="product-card">

              <a href="#" class="card-banner img-holder has-before" style="--width: 300; --height: 300;">
                {% comment %} <img src="./assets/images/product-1.jpg" width="300" height="300" loading="lazy"
                  alt="Animi Dolor Pariatur" class="img-cover"> {% endcomment %}
                  <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" class="img-cover" width="300" height="300"loading="lazy">
                <ul class="card-action-list">

                  <li>
                    <button class="card-action-btn" aria-label="add to cart" title="add to cart">
                      <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
                    </button>
                  </li>

                  <li>
                    <button class="card-action-btn" aria-label="add to cart" title="add to cart">
                      <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                    </button>
                  </li>

                  <li>
                    <button class="card-action-btn" aria-label="add to whishlist" title="add to whishlist">
                      <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
                    </button>
                  </li>

                </ul>
                
                <ul class="badge-list">

                  <li>
                    <div class="badge orange">Sale</div>
                  </li>

                  <li>
                    <div class="badge cyan">-10%</div>
                  </li>

                </ul>
              </a>

              <div class="card-content">
                <h3 class="h3">
                  <a href="#" class="card-title">Animi Dolor Pariatur</a>
                </h3>

                <div class="card-price">
                  <del class="del">$19.00</del>

                  <data class="price" value="10">$10.00</data>
                </div>
              </div>

            </div>
          </li>
      {% endfor %} {% endcomment %}
    
      

       {% assign collection_handle = 'all' %}
      {% for product in collections[collection_handle].products %}
         <li class="decoration">
           <div class="product-card">
             <a href="{{ product.url }}" class="card-banner img-holder has-before" style="--width: 300; --height: 300;">
               {% if product.featured_image %}
                 <img src="{{ product.featured_image | img_url: 'large' }}" 
                   alt="{{ product.featured_image.alt | escape }}" 
                   class="img-cover" 
                   width="300" 
                   height="300" 
                   loading="lazy">
               {% else %}
                <img src="default-image.jpg" 
                   alt="No image available" 
                   class="img-cover" 
                    width="300" 
                    height="300" 
                    loading="lazy">
               {% endif %}
            <ul class="card-action-list">
             <li>
              <button class="card-action-btn" aria-label="add to cart" title="add to cart">
                <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
              </button>
            </li>
            <li>
              <form action="/cart/add" method="post" enctype="multipart/form-data" onsubmit="submitAddToCartForm(this); return false;">
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                <button type="submit" class="card-action-btn" aria-label="add to cart">
                  <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                </button>
              </form>
            {% comment %} <button class="card-action-btn" aria-label="view cart" title="view cart">
            <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
        </button> {% endcomment %}
      </li>
      <li>
        <button class="card-action-btn" aria-label="add to wishlist" title="add to wishlist">
          <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
        </button>
      </li>
    </ul>
    {% comment %} {% if product.compare_at_price > product.price %} {% endcomment %}
    {% comment %} <ul class="badge-list">
      <li>
        <div class="badge orange">Sale</div>
      </li>
      <li>
        <div class="badge cyan">
          10%
        </div>
      </li>
    </ul> {% endcomment %}

    <ul class="badge-list">
  {% if product.available %}
    {% if product.compare_at_price > product.price %}
      <li>
        <div class="badge orange">Sale</div>
      </li>
    {% endif %}
    {% assign discount = 100 | times: product.compare_at_price | minus: product.price | divided_by: product.compare_at_price | round %}
    {% if discount > 0 %}
      <li>
        <div class="badge cyan">{{ discount }}%</div>
      </li>
    {% endif %}
  {% else %}
    <li>
      <div class="badge1 gray">Out of Stock</div>
    </li>
  {% endif %}
</ul>

    {% comment %} {% endif %} {% endcomment %}
  </a>
       <div class="card-content">
          <h3 class="h3">
            <a href="{{ product.url }}" class="card-title">{{ product.title }}</a>
          </h3>
           <div class="card-price">
            {% if product.compare_at_price > product.price %}
              <del class="del">{{ product.compare_at_price | money }}</del>
           {% endif %}
              <data class="price" value="{{ product.price }}">{{ product.price | money }}</data>
            </div>
           </div>
          </div>
         </li>
       {% endfor %}

      
      

      </ul>

    </div>
  </section>
   

  
{% schema %}
    {
    "name": "shop-body",
    "settings": [],
    "blocks": [
        {
        "type": "collection_section",
        "name": "Collection Section",
        "settings": [
            {
            "type": "collection",
            "id": "specific_collection",
            "label": "Select Collection"
            }
        ]
        }
    ],
    "presets": [
        {
        "name": "shop-body"
        }
    ]
    }
{% endschema %}
